<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch">
        insert into order_detail (order_id, dish_id, setmeal_id, name, image,
        number, amount, dish_flavor)
        values
            <foreach collection="orderDetails" item="orderDetail" separator=",">
                (#{orderDetail.orderId}, #{orderDetail.dishId}, #{orderDetail.setmealId}, #{orderDetail.name}, #{orderDetail.image},
                #{orderDetail.number}, #{orderDetail.amount}, #{orderDetail.dishFlavor})
            </foreach>
    </insert>
    <delete id="deleteBatch">
        delete from order_detail where order_id in
        <foreach collection="orderIds" item="orderId" separator="," open="(" close=")">
            #{orderId}
        </foreach>
    </delete>
    <select id="getByOrderId" resultType="OrderDetail">
        select * from order_detail where order_id = #{orderId}
    </select>

</mapper>
